$bg-img: url('../assets/images/bg.jpg');

.box-layout {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $bg-img;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out(white, .1);
    border-radius: 3px;
    padding: $l-size $l-size;
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}

.box-layout__button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-layout__icon {
    display: inline-block;
    margin-right: $s-size;
}